:root {
    --dark-blue-color: #262E38;
    --light-gray-color: #969FAD;
    --medium-gray-color: #7C8798;
    --orange-color: #FC7614;
    --pure-white-color: #FFFFFF;
    --very-dark-blue-color: #131518;
}