body {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-family: $primary-font;
    font-weight: regular;
    font-size: 15px;
    color: var(--light-gray-color);
}